.exmple {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    /* border-radius: 50px 40px 30px 20px; */
    /* border-radius: 20px/40px */;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 20px;
}

ul li {
    list-style-type: circle;
    list-style-position: inside;
    /* list-style-image: url(); */
}

h1 {
    /* color: black; */
    /* color: #ff0000; */ /* #000 #fff */
    /* color: rgb(255, 0, 0); */
    /* color: hsl(0, 100%, 50%); */
    color: rgba(255, 0, 0, 0.5);
}