body {
    padding: 0;
    margin: 0;

    background-color: blue; 
}

.wrapper {
    min-height: 100vh;
    width: 100%;

    /* background: linear-gradient(45deg, red 10%, orange 50%, yellow 70%, green, aqua, blue); */

    /* background: repeating-linear-gradient(45deg, yellow 25px, black 25px, black 50px, yellow 50px, black 75px  ); */

    background: repeating-radial-gradient(circle, aqua 20px, red 80px);
}